.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#image {
  width: 40%;
}

#graphic{
  background-image: url(./../images/about-image.png);
  min-height: 500px;
  min-width: 500px;
  margin-top: 10%;
}

#text {
  width: 40%;
  flex-direction: column;
  margin-top: 10%; 
}

#heading {
  font-size: 50px;
}

#paragraph {
  font-size: 25px;
}
