.App {
  text-align: center;
}

.header{
  border: 0;
  margin: 0;
  padding: 0;
  background-color: lightskyblue;
  color: white;
}

#heading{
  margin: 50px;
}

.right{
  right: 10px;
}

.container{
  margin: 0;
  overflow: hidden;
  padding: 0;
}


.link{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  text-decoration: none;
}

.active {
  color: white;
}

#navbar {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

#navbar ul {
  list-style: none;
}

#navbar li {
  display: inline;
  padding: 50px;
  font-size: 40px;
}

#list {
  list-style: none;
}

