
.container {
  display: flex;
  flex-direction: column;
}

#header {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 10px;
  margin-top: 2%;
  margin-left: 30%;
  margin-right: 30%;
  font-size: 30px;
  color: white;
}

.loginInput {
  width: 50%;
  margin: 1% auto 4% auto;
  border-radius: 5px;
  height: 2%;
  padding: 1%;
  border: 2px solid gray;
}

.loginLabel { 
  color: white;
  font-size: 20px;
}

input:focus {
  border: 2px solid black;
}

.loginBox {
  margin-top: 1%;
  margin-left: 30%;
  margin-right: 30%;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#feedback {
  margin-top: 0px;
  color: transparent;
  font-size: 18px;
  display: hidden;
}

button {
  width: 10%;
  padding: 13px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  font-size: 20px;
  background-color: #C6E2E9;
  border-radius: 5px;
  border-color: white;
  border-style: solid;
  border-width: 2px;
}

button:hover {
  cursor: pointer;
  color: white;
}