
.container {
  display: flex;
  flex-direction: column;
}

#header {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 10px;
  border-style: solid;
  margin-top: 3%;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 3%;
  border-radius: 8px;
  border-color: white;
  font-size: 30px;
  color: black;
}

.loginInput {
  width: 40%;
  
}

.loginBox {
  margin-top: 3%;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 3%;
  background: lightgrey;
  padding: 10px;
  border-radius: 8px;
}

button {
  width: 10%;
  padding: 13px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 10px;
  font-size: 20px;
  background-color: #C6E2E9;
  border-radius: 5px;
  border-color: white;
  border-style: solid;
  border-width: 2px;
}

button:hover {
  cursor: pointer;
  color: white;
}