{% extends "base.html" %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<h1>This sht better work</h1>

<form action = '/' method = 'POST'>

    <label for = 'username'>Username:</label>
    <input type = 'text' name = 'username' />

    <label for = 'password'>Password:</label>
    <input type = 'password' name = 'password' />

    <input type = 'hidden' name = 'request_type' value = 'create_account' />

    <input type = 'submit' value = 'Create Account' />

</form>

<form action = '/' method = 'POST'>
    <label for = 'username'>Username:</label>
    <input type = 'text' name = 'username' />

    <label for = 'password'>Password:</label>
    <input type = 'password' name = 'password' />

    <input type = 'hidden' name = 'request_type' value = 'login' />

    <input type = 'submit' value = 'Login' />
</form>

<form method = 'POST' action = '/logout'>
    <input type = 'submit' value = 'Logout'>
</form>



{% for user in users %}

<p>{{ user.username }}</p>

{% endfor %}

{% if expenses %}

<table>
    <tr>
        <td>Price</td>
        <td>Description</td>
    </tr>
    {% for expense in expenses %}

    <tr>
        <td>{{ expense.price }}</td>
        <td>{{ expense.description }}</td>
    </tr>

    {% endfor %}
</table>

{% endif %}

{% endblock %}
